<script>
    let Ethercalc = (function (scope) {
        'use strict';

        var pub = {}, pro = {};

        pub.config = {
            id				: 'ilEtherCalcPlugin',
            dimension_class	: 'ilTabsContentOuter'
        };

        pub.setDimensions = function()
        {
            let iframe = document.getElementById(pub.config.id)
            let outer = document.getElementsByClassName(pub.config.dimension_class)[0]
            iframe.style.width = "100%";
            iframe.style.height = "700px"
        };

        pub.protect = pro;
        return pub;

    }());



    document.addEventListener('DOMContentLoaded', function () {
        Ethercalc.setDimensions();
    }, false);
</script>
<iframe id="{ETHERCALC_ID}" src="{URL}/{PAGE_ID}"/>